body{
    margin: 0;
    background: rgb(217, 223, 224);
    /* background: #000; */
    font-family: sans-serif;
}

/* Navbar */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 0 50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 30px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: black;
}
.active:active{
    color: #000;
}

/* Button In Navbar */
.btn-contact{
    background: orangered;
    padding: 8px 20px;
    border-radius: 10px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    transition: 0.1s;
}
.btn-contact:hover{
    background: none;
    border: 1px solid orangered;
    padding: 7px 19px;
    color: #000;
}
.btn-contact:active{
    color: orangered;
}
/* End Button In Navbar */
/* End Navbar */

/* Form */
.container-form{
    width: 80%;
    margin: auto;
    padding: 12px;
    /* background: salmon; */
}
form{
    /* width: 100%; */
    /* background-color: #fff; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrap-input{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.wrap-input > input{
    padding: 10px;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    /* background: grey; */
}
.wrap-input label{
    margin-bottom: 5px;
}
.wrap-input-date{
    width: 30%;
    display: flex;
    gap: 20px;
    margin-bottom: 15px;
}
.wrapper-date{
    display: flex;
    flex-direction: column;
}
.wrapper-date label{
    margin-bottom: 5px;
}
.wrapper-date input{
    width: 140px;
    padding: 7px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.wrap-checkbox{
    display: flex;
    flex-direction: column;
    width:30%;
    margin-bottom: 15px;
}
.wrap-checkbox label{
    margin-bottom: 10px;
}
.wrap-input textarea{
    width: 100%; 
    height: 150px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
}

/* Button */
.btn{
    width: 30%;
    /* background: salmon; */
    display: flex;
    justify-content: end;
}
.btn button{
    border: none;
    border-radius: 20px;
    padding: 7px 13px;
    background: orangered;
    color: #fff;
    transition: 0.1s;
    cursor: pointer;
}
.btn button:hover{
    background: none;
    border: 1px solid orangered;
    color: #000;
}
.btn button:active{
    color: orangered;
}
.line{
    width: 80%;
    margin: 50px auto;
    /* border: none; */
    opacity: 15%;
}

/* My Project */
.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background: #fff;
}
.container h2{
    align-self: center;
}
.myproject{
    display: flex;
    justify-content: start;
    width: 70%;
    flex-wrap: wrap;
    margin: auto;
}
.card{
    width: 280px;
    background: #fff;
    margin-right: 20px;
    margin-bottom: 12px;
    padding-bottom: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 4px black;
    /* padding: 1px; */
}
.article{
    padding: 0px 7px;
    /* line-height: 0px; */
}
.article span{
    top: 0;
    color: grey;
    font-size: 12px;
    margin-bottom: 20px;
}
.article h1{
    font-size: 16px;
    line-height: 1px;
}
.btn-card{
    /* width: 100%; */
    display: flex;
    justify-content: space-around;
    /* background: red; */
}
.btn-card a{
    text-decoration: none;
    color: #fff;
    padding: 5px 40px;
    background: rgb(49, 47, 47);
    border-radius: 20px;
}
.icon{
    padding: 10px;
}

/* Main Web Apps */
main{
    width: 70%;
    margin: auto;
    /* background: rgb(247, 238, 238); */
    padding: 1px 50px;
}
main h2{
    text-align: center;
}
.main-info{
    display: flex;
    margin-bottom: 40px;
    /* justify-content: center; */
}
.main-info img{
    padding-top: 12px;
}
.wrapper-info{
    display: flex;
    padding: 0px 50px;
    flex-direction: column;
    /* background: red; */
    /* text-align: left; */
}

.wrapper-info .span-time > div {
    display: flex; 
    align-items: center;
    gap: 12px;
    /* justify-content: center; */
    /* background-color: aqua; */
}
.wrapper-info .span-time img{
    margin-top: -12px;
    /* margin-right: 12px; */
}
.wrapper-info .tech-info{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* margin-right: 12px; */
}
.wrapper-info .tech-info > div{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 12px;
}
.wrapper-info .tech-info > div img {
    margin-top: -12px;
}
.wrapper-info .tech-info > div span{
    margin-right: 20px;
}

